.error {
    color: red;
    border-color: darkred;
    background: lightgrey;
    font-size: 22px;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
  }

.success {
    color: green;
    border-color: darkgreen;
    background: lightgrey;
    font-size: 22px;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}